/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1200px;

// Colors
$white: #fff;
$black: #000;
$charcoal: #191b20;
$orange: #e54f30;
$light-grey: #eeeeee;
$earth-dark: #714E38;
$earth: #A27C64;
$earth-light: #D1B4A1;
$lime-dark: #798420;
$lime: #B3C32E;
$lime-light: #D8E37C;
$dust-dark: #363333;
$dust: #5B5656;
$dust-light: #8C8888;
$basil-dark:  #568629;
$basil: #72AF3A;
$basil-light:  #A9DB7B;