/* =============
   Hero2
============= */
#hero2 { 
   @include xl{
      display: grid;
      grid-template-columns: auto 1000px auto;
      grid-template-areas: ".hero2.";
   }
   ul{
      
      display: grid;
      @include md{
         grid-template-columns: 50% auto;

      }
      @include lg{
         grid-template-columns: 60% auto;

      }
      @include xl{
         grid-area: hero2;
         grid-template-columns: 65% auto;
         grid-template-areas:"h2-1 h2-2" 
          "h2-1 h2-3";
       }
      li{
         // img{
         //    width: 100%; 
         background-image: url("../img/hero2/left2.jpg");
         background-image: url("../img/hero2/right2.jpg");
         background-image: url("../img/hero2/soup2.jpg");

         }

      }
      #h2-1{
         grid-area: h2-1;

      }
      #h2-2{
         grid-area: h2-2;

      }
      
      #h2-3{
         display: none;
         @include xl{
            display: list-item;
            grid-area: h2-3;
         }
         
         }
      } 
   
   //  display: grid;
   //  grid-template-columns: 0px auto 0px;
   //  grid-template-areas:". hero2 .";

   //    @include md {grid-template-columns: 0px auto 0px
   //    }
   //    @include lg {grid-template-columns: 0px auto 0px
   //    }
   //   >div{
   //      grid-area: hero2;
   //   }
