/* =============
    Hero
============= */
#hero {
    img {
        width: 100%;
    }

    ul {
        @include md {
            display: grid;
            grid-template-columns: 40% auto;


        }
        @include lg { 
            display: grid;
            grid-template-columns: 50% auto;
        }
        li {
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". hero-content .";
            background-color: $lime;
            @include xl{
                grid-template-columns:  auto 460px 16px;
            }
            


            a {
                grid-area: hero-content;

            }
           

        }
        #part1 {
            background-color: $lime;
           
        }
        #part2 {
            background-color: $lime-light;
            @include xl{
                grid-template-columns:  16px 460px auto;
            }
        }
    }

}