/* =============
   Hero2
============= */
#hero2 { 
   ul{
      display: grid;
      li{
         img{
            width: 100%;
         }

      }
      #h2-3{
         display: none;
      } 
   }
   //  display: grid;
   //  grid-template-columns: 0px auto 0px;
   //  grid-template-areas:". hero2 .";

   //    @include md {grid-template-columns: 0px auto 0px
   //    }
   //    @include lg {grid-template-columns: 0px auto 0px
   //    }
   //   >div{
   //      grid-area: hero2;
   //   }
}