/* =============
   Hero2
============= */
#hero2 { 
    display: grid;
    grid-template-columns: 0px auto 0px;
    grid-template-areas:". hero2 .";

      @include md {grid-template-columns: 32px auto 32px
      }
      @include lg {grid-template-columns: 236px auto 236px
      }
     >div{
        grid-area: hero2;
     }
}