/* =============
    Hero
============= */
#hero {
    img {
        object-fit: cover;
        width: 100%;
    //     width: 100%;
    }

    // #hero-img{
    //     background-image: url("../img/hero/hero.jpg");
    // background-position: center;
    // background-size: cover;
    // height: 252px;

    // @include md { 
    //     height: 422px;
    // }
    
    // @include lg { 
    //     height: 561px;
    // }
    // @include xl { 
    //     height: 873px;
    }
    
    
    ul {
        @include md {
            display: grid;
            grid-template-columns: 40% auto;


        }
        @include lg { 
            display: grid;
            grid-template-columns: 50% auto;
        }
        li{
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". hero-content .";
            background-color: $lime;
            @include xl{
                grid-template-columns:  auto 460px 16px;
            }
            


            a {
                grid-area: hero-content;

            }
        }
           
           

        }
        #part1 {
            background-color: $lime;
           color: white;
        }
        #part2 {
            background-color: $lime-light;
            color: white;
            @include xl{
                grid-template-columns:  16px 460px auto;
            }
        }
    

