/* =============
    New
============= */ 
#new{

    @include md{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". new .";
    
    }
    @include xl{ 
        // display: grid;
        grid-template-columns: auto 1200px auto;
        // grid-template-areas: ". new .";
    }

>div{
   

    @include md{
        grid-area: new;
    }
    ul{
        @include md{ 
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas: 
            "n1 n1 n2 n2"
            "n3 n3 n4 n4"
            ". n5 n5.";
            gap: 16px;
        
        }
        @include lg{ 
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-areas: 
            "n1 n1 n2 n2 n3 n3"
            ". n4 n4 n5 n5 .";
        }
        li{
            background-color: $dust-light;
            img{
                width: 100%;
 
            }

            section{
             display: grid;
             grid-template-columns: 16px auto 16px;
             grid-template-areas:".new-content.";
             >div{
                 grid-area: new-content; 
                 border: 1px solid red;
                 button{
                     background-color: $lime;
                     color: white;
                 }
 
             //     @include md{
             //         display: grid;
             // grid-template-columns: 16px auto 16px;
             // grid-template-areas:".new-content.";
             //     }
                
 
                }
            }

        }
        #n1{
            @include md{ 
                grid-area: n1;
            }
        }
        #n2{
            @include md{ 
                grid-area: n2;
            }
        }
        #n3{
            @include md{ 
                grid-area: n3;
            }
        }
        #n4{
            @include md{ 
                grid-area: n4;
            }
        }
        #n5{
            @include md{ 
                grid-area: n5;
            }
        }
    }
}
   

    //   @include md {grid-template-columns: 32px auto 32px
    //   }
    //   @include lg {grid-template-columns: 236px auto 236px
    //   }
    

}