/* =============
    Planning
============= */
#planning {
    ul{
        display: grid;
      
        gap: 16px;
        
                @include md{ 
                
            // display: grid;
            grid-template-columns: 50% auto;
            
        }
        li{
            display: grid;
            // @include md{ grid-template-columns: 16px auto 16px;
            
            //     grid-template-areas:".planning."; }
            grid-template-columns: 16px auto 16px;
            
            grid-template-areas:".planning.";
          
            @include xl{
                grid-template-columns:  auto 460px 16px;
            }
            

            >div{
                grid-area: planning; 
                // border: 1px solid red;
                background-color: $earth;
                color: white;
                button{
                    background-color: $lime;
                    color: white;
                }

            }
            

        }
        #planning-2{
            @include xl{
                grid-template-columns:  16px 460px auto;}
        }
    }
   
        

        // @include md {grid-template-columns: 32px auto 32px
        // }
        // @include lg {grid-template-columns: 236px auto 236px
        // }
    
  
}