/* =============
    Planning
============= */
#planning {
    @include md {
        display:grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ".planning.";
    }
    ul{
        display: grid;
      
        gap: 16px;
        
                @include md{ 
                grid-area: planning;
            // display: grid;
            grid-template-columns: 50% auto;
            
        }
        li{
            display: grid;
            // @include md{ grid-template-columns: 16px auto 16px;
            
            //     grid-template-areas:".planning."; }
            grid-template-columns: 16px auto 16px;
            background-color: $earth;
            grid-template-areas:".planning.";
          
            @include xl{
                grid-template-columns:  auto 460px 16px;
            }
            

            >div{
                grid-area: planning; 
                // border: 1px solid red;
                
                color: white;
                button{
                    background-color: $lime;
                    color: white;
                    font-size: rem-calc(14);
                    font-weight: 700;
                    border: none;
                }
                h1{
                    
                    font-family:  'Quattrocento', serif;;
                    font-size: rem-calc(22);
                     font-weight:400;

                     @include md{
                        font-size: rem-calc(29);

                     }
                     @include lg{
                        font-size: rem-calc(31);
                        
                     }

                }

            }
            aside{
                div{
                    background-position: center;
                    background-size:cover;
                    border: 4px white solid;
                    height: 85px;
                    width: 85px;
                    border-radius: 100%;
                    @include md{ 
                        height:113px;
                        width: 113px;
                    }
                  
                }

                }
            }
            

        }
        #planning-2{
            @include xl{
                grid-template-columns:  16px 460px auto;}
        }
        #planning-left{
            background-image: url(../img/hero/planning_left.jpg);
            background-position: -35px 0px;
            background-size: cover;
        }
        #planning-right{
            background-image: url(../img/hero/planning-right.jpg);
            background-position: center;
            background-size: cover;

        }
    }
   
        

        // @include md {grid-template-columns: 32px auto 32px
        // }
        // @include lg {grid-template-columns: 236px auto 236px
        // }
    
  
