/* =============
   Search
============= */
  #search {
     display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas:". search .";

    @include lg {grid-template-columns: auto 80% auto
      }
      >div{
         grid-area: search; 
         form{ 
            input{
               color: $basil;
               background-color: white;
               ::placeholder{ 
                  color: $basil;
             border: none;
            
            
            }
            font-size: rem-calc(14);
            font-weight: 300;
            @include md{ 
               font-size: rem-calc(30);
               font-weight: 200;
            }
            @include lg{ 
               font-size: rem-calc(35);
               font-weight: 200;
            }
         button{
            background-color: $lime;
            border: none;
            border-radius: 5;
          }
         }
         
       }
      }
   }
    