/* =============
   Search
============= */
  #search {
     display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas:". search .";

    @include lg {grid-template-columns: auto 80% auto
      }
      >div{
         grid-area: search; 
         form{ 
            input{
               color: $basil;
               background-color: white;
            }
         button{
            background-color: $lime;
         }
         }
         
       }
      }
     
    