/* =============
    Sections
============= */
.sections {
    .grid-content {
        display: grid;
        grid-template-areas: ". section .";
        grid-template-columns: auto 600px auto;

        >section {
            grid-area: section;
            text-align: center;

            img {
                margin-bottom: 10px;
                width: 15%;
            }

            h1 {
                border-bottom: 1px solid $orange;
                margin-bottom: 20px;
                padding-bottom: 10px;
            }

            p {
                line-height: rem-calc(25);
            }
        }
    }
}