/* =============
    Footer
============= */

footer{
   
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas:".footer.";
   background-color: $earth;
  
   @include xl{
    // display: grid;
    grid-template-columns: auto 1200px auto;
    // grid-template-areas:".footer.";
    }
 

    //   @include md {grid-template-columns: auto 80% auto
    //   }
    //   @include xl {
    //       grid-template-columns: auto 1200px auto;
    //       grid-template-areas: ". footer.";
    //   }
     >div{
        
         
        grid-area: footer;
        @include md{
            display: grid;
            grid-template-columns: 50% auto;
            grid-template-areas:
             "f-1 f-2" 
             "f-1 f-3";
            
        }
        
        @include lg{
            
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas:
             "f-1 f-2 f-3";
            
        }
        h1{ color: $earth-dark;
            font-size: rem-calc(20);
        font-weight: 700;}
        margin: 16px 0px;
        article{
      

        h2{
            font-size: rem-calc(16);
            font-weight:700;
            margin: 16px 0px;
        }
        h3{font-size: rem-calc(12);
            font-weight:300;
            margin: 16px 0px;

        }
            button{
                background: $lime;
                color: white;
                font-size: rem-calc(14);
                font-weight: 700;
                cursor: pointer;
                border:none;
            }
            input{
                background-color: white;
                color: $basil;
                font-size: rem-calc(14);
                font-weight:700;
                border:none;
            }
            li{
                color: $basil}
                
            }
            .icon{
                color: $lime;
            }

        }

        
        // border: orangered;
    } 
 
 
#f-1{
    @include md{ grid-area: f-1 ;}
    

    

}
#f-2{
    grid-area: f-2;

}
#f-3{
    grid-area: f-3;
     ul{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: "1 2 3 4" ;

    
    }
    // @include lg{ 
    //     display: grid;
    //     grid-template-columns: auto auto 16px;
    //     grid-template-areas: ". f-3 .";
    // }
}
#yt{
    grid-area: 1;
} 
#tw{
    grid-area: 2;
}
#in{
    grid-area: 3;
}
#fb{
    grid-area: 4;
}
