/* =============
    Footer
============= */

footer{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas:". footer .";

      @include md {grid-template-columns: 32px auto 32px
      }
      @include lg {grid-template-columns: 236px auto 236px
      }
     >div{
        grid-area: footer;
    } 
 
} 