/* =============
    Footer
============= */


footer {

    background-color: $earth;
    color: $basil;
    display: grid;
    grid-template-areas: ". footer .";
    grid-template-columns: 16px auto 16px;
    padding: 24px 0;

    @include md {
        padding: 32px 0;
    }

    @include xl {
        grid-template-columns: auto 1200px auto;
        padding: 64px 0;
    }

    >div {
        grid-area: footer;

        @include md {
            display: grid;
            gap: 16px;
            grid-template-areas: "locations sing-up"
                "locations follow";
            grid-template-columns: 50% auto;
        }

        @include xl {
            grid-template-areas: "locations sing-up follow";
            grid-template-columns: repeat(3, 1fr);
        }

        .footer-section {
            padding-bottom: 24px;

            h1 {
                font-size: rem-calc(20);
                font-weight: 700;
                margin-bottom: 16px;
                color: $earth-dark;
            }
        }

        #locations {
            @include md {
                grid-area: locations;
            }

            section {

                border-bottom: 1px solid white;
                margin-bottom: 16px;
                padding-bottom: 16px;

                h2 {
                    font-size: rem-calc(16);
                    font-weight: 700;
                    margin-bottom: 8px;
                }

                ul {
                    li {
                        address {
                            font-style: normal;
                        }

                        display: flex;
                        font-size: rem-calc(14);
                        font-weight:300;
                        margin-bottom: 8px;

                        i {
                            color: $lime;
                            margin-right: 10px;
                        }

                        div {
                            align-items: center;
                            display: flex;
                        }

                        a:link,
                        a:visited {
                            color: $basil;

                            &:hover,
                            &:active {
                                color: $basil-dark;
                            }
                        }
                    }
                }

                &:last-child {
                    border: none;
                    margin-bottom: 0px;
                    padding-bottom: 0px;
                }
            }
        }

        #sign-up {
            @include md {
                grid-area: sing-up;
            }

            form {
                input {
                    background-color: white;
                    border: none;
                    border-radius: 0;
                    font-weight: 700;
                    padding: 16px 2%;
                    width: 96%;

                    &::placeholder {
                        /* Chrome, Firefox, Opera, Safari 10.1+ */
                        color: $basil;
                        /* Firefox */
                        opacity: 1;
                    }

                    &:-ms-input-placeholder {
                        /* Internet Explorer 10-11 */
                        color: $basil;
                    }

                    &::-ms-input-placeholder {
                        /* Microsoft Edge */
                        color: $basil;
                    }
                }

                button {
                    display: flex;
                    margin-left: auto;
                    margin-top: 16px;
                    background-color: $lime;
                    color: white;
                    font-size: rem-calc(14);
                    font-weight: 700;
                    border: none;
                    cursor: pointer;
                    padding: 8px 12px;
                    margin-top: 16px;

                    @include md {
                        margin-top: 20px;
                    }

                    @include lg {
                        margin-top: 16px;
                    }

                    @include xl {
                        margin-top: 14px;
                    }
                }
            }
        }

        #follow {
            @include md {
                grid-area: follow;
            }

            @include xl {
                text-align: right;
            }

            ul {
                display: flex;

                @include lg {
                    justify-content: flex-end;
                }

                li {
                    margin-right: 16px;

                    @include md {
                        margin: 0 8px;
                    }

                    a:link,
                    a:visited {
                        color: white;
                        font-size: rem-calc(30);

                        &:hover,
                        &:active {
                            color: $earth-dark;
                        }
                    }
                }
            }
        }
    }
}