/* =============
    Header
============= */
header {
    display: grid;

    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". header .";
    background-color: $earth;
    @include lg {
        grid-template-columns: аuto 80% auto;
    
    }

    >div {
      
        grid-area: header;

        img{
            width: 100px;
        }
    }

}