/* =============
    Buttons
============= */
.button {
    background-color: $lime;
    border: none;
    color: white;
    cursor: pointer;
    font-size: rem-calc(14);
    font-weight: 700;
    margin-top: 16px;
    padding: 8px 12px;

    @include md {
        margin-top: 20px;
    }

    @include lg {
        margin-top: 16px;
    }

    @include xl {
        margin-top: 14px;
    }
}